In [2]:
import sqlite3

name = input("Enter file:")
if len(name) < 1 : name = "mbox.txt"
handle = open(name)

templist = list()
count = 0

conn = sqlite3.connect('CountingOrganizations.sqlite')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Counts (org TEXT, count INTEGER)''')           
cur.execute('''DELETE FROM Counts''') 

for line in handle:
    
    line = line.rstrip()
    if not line.startswith('From ') : continue

    words = line.split()
    domain = words[1].split("@")
       
    cur.execute('''SELECT count FROM Counts where org = ?''',(domain[1],))
    count = cur.fetchone()

    if count is None: 
        cur.execute('''INSERT INTO Counts (org, count) VALUES (?,1)''',(domain[1],))
    else :

        cur.execute('''UPDATE Counts SET count = count + 1  WHERE org = ?''',(domain[1],))
         
conn.commit()

table = 'SELECT org, count FROM Counts ORDER BY count DESC'
for line in cur.execute(table): 
    print(str(line[0]), ":", str(line[1]))
conn.close()

Enter file:mbox.txt
iupui.edu : 536
umich.edu : 491
indiana.edu : 178
caret.cam.ac.uk : 157
vt.edu : 110
uct.ac.za : 96
media.berkeley.edu : 56
ufp.pt : 28
gmail.com : 25
et.gatech.edu : 17
txstate.edu : 17
whitman.edu : 17
lancaster.ac.uk : 14
bu.edu : 14
stanford.edu : 12
unicon.net : 9
loi.nl : 9
rsmart.com : 8
ucdavis.edu : 1
fhda.edu : 1
utoronto.ca : 1